<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block styles %}{% endblock styles %}

</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'recent' %}">Recent Episodes</a></li>
                <li><a href="{% url 'top' %}">Top Airing</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer></footer>

    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    {% block scripts %}{% endblock scripts %}
</body>

</html>